*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif ;
    box-sizing: border-box;
}
body{
  
  background-color: #011b36;
  
}

.card{
    width: 100%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    border: 2px solid rgba(230, 229, 229, 0.929); 
    padding:  40px 35px;
    text-align: center;
}
.searchbtn{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.searchbtn input::placeholder{
    color: #fcfbfb;
}

.searchbtn input{
 border: 1px solid rgba(230, 229, 229, 0.781); 
 outline:0;
 background:transparent;
 color: #fcfbfb;
 padding: 10px 25px;
 height: 40px;
 border-radius: 30px;
 flex: 1;
 margin-right: 10px;
 font-size: 18px;
}
.searchbtn input:hover{
    background-color: #0a0909;
    
   
}
.btn{
border: 1px solid rgba(230, 229, 229, 0.746) ;
 outline:0;
 background: transparent;
 color: #fdf9f9;
 padding: 10px 25px;
 height: 40px;
 border-radius: 30px;
 flex: 1;
 margin-right: 10px;
 font-size: 18px;
}
.btn:hover{
    background-color: #0a0909;
   
}

.weather h1{
    font-size:80px ;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.wind, .humidity{
font-size: 28px;

}
@media (max-width: 700px ) {
    .searchbtn {
        width: 100%; 
    }
    
    .btn {
        width: 40%; 
        margin-right: 8px; 
    }
    .col{
        width: 50%;

    }
    .col img{
        width: 100%;
    }
}
